# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Ignores the entire lib folder except submodules
lib/*


# Dotenv file
.env
